frontend/
velxio/
flowchart/
compiler_worker/
velxio-deployer-firmware/
load-test/
.browser-test/
.pytest_cache/
.git/
__pycache__/
*.pyc
state/
config/
documentation.md
podman-compose.yml
podman-compose.velxio.yml
lms-c-precompiled.tar
.dockerignore

