# ============================================================
# LMS Configuration
# ============================================================

# ── Identitas LMS ──────────────────────────────
# Variabel ini tampil di frontend (navbar, footer, title)
APP_BAR_TITLE=LMS elemes DEVELOPMENT TEST
COPYRIGHT_TEXT=Nama Sekolah @ 2026
PAGE_TITLE_SUFFIX=LMS elemes DEVELOPMENT TEST
CURSOR_OFFSET_Y=50

# ── Konfigurasi Internal Backend ───────────────
# Penamaan folder & file ini dipakai didalam lingkup container
CONTENT_DIR=content
TOKENS_FILE=tokens.csv
# Domain frontend yang diizinkan untuk CORS (misal: http://localhost:3000)
ORIGIN=http://localhost:3000
COMPILER_WORKER_URL=http://compiler-worker:8080/execute

# ── Tailscale (opsional, untuk jaringan P2P) ───
ELEMES_HOST=sinau-c-hostname-kamu
TS_AUTHKEY=tskey-auth-xxxx

# ── Flask (opsional: untuk dev mode lokal) ─────
FLASK_DEBUG=false
